/*
Author:Carlos Agarie
Project URL:www.github.com/agarie/damagecalc
**************************************************************/
/* MAIN
**************************************************************/
body,p,div,span,ul,li,ol,table,td,tr,th,img{padding:0;margin:0;font-family:Verdana,"helvetica neue",Helvetica,sans-serif;font-size:14px;line-height:160%;border:0;}
body{color:#000;background-color:#E6E6E6;}
h1,h2,h3,h4,h5,h6{padding:0;margin:0;font-family:"helvetica neue",Helvetica,Verdana,sans-serif;clear:both;}
h1{font-size:30px;padding:10px 0 15px 0;}
h2{font-size:26px;margin:0 0 0.2em 0;}
h3{font-size:18px;margin:0.8em 0 0.8em 0;}
h4{font-size:15px;margin:0.6em 0 0.6em 0;}
h5{font-size:15px;margin:0.6em 0 0.6em 0;}
h6{font-size:15px;margin:0.6em 0 0.6em 0;}
th,td{padding:4px 10px 4px 0;}
code{font:10pt Courier,monospace;}
blockquote{margin:1.3em;padding:1em;}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:underline;color:#4676B3;}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover{text-decoration:none;}
ul{list-style-type:square;}
li{line-height:1.8em;}
/* CONTAINER
**************************************************************/
#container{width:600px;max-width:800px;min-width:400px;margin:0 auto;}
/* HEADER
**************************************************************/
#header{background-color:#000;}
.menu{width:100%;padding:0 0 10px 0;}
.menu ul{width:100%;list-style-type:none;}
.menu li{float:left;}
.menu a{padding:0 15px 0 10px;text-decoration:none;display:block;color:#FFF;}
.menu a:hover{background-color:#E6E6E6;color:#000;}
/* DAMAGECALC
**************************************************************/
#damagecalc{padding:0 0 10px 0;background-color:#E6E6E6;}
/* INFO
**************************************************************/
#damagecalc #info{width:100%;}
#damagecalc #info input{margin:5px;}
/* OFFENSIVE,DEFENSIVE
**************************************************************/
#damagecalc #offensive,
#damagecalc #defensive{padding:10px 0 10px 0;width:50%;background-color:#9CDE82;}
#damagecalc #offensive h2,
#damagecalc #defensive h2{padding-bottom:5px;margin-bottom:20px;text-align:center;border-bottom:1px solid #FFF;}
#damagecalc #offensive #level input{width:23px;}
/* PARAMETERS
**************************************************************/
#damagecalc #parameters{padding:10px 0 10px 0;width:100%;height:360px;background-color:#9CD9EC;}
#damagecalc #parameters h2{padding-bottom:5px;margin-bottom:20px;text-align:center;border-bottom:1px solid #FFF;}
/* CALCBUTTON
**************************************************************/
#damagecalc .calcButton{width:100%;height:40px;background-color:#E6E6E6;text-align:center;}
#damagecalc .calcButton button{width:30%;height:65%;position:relative;top:20%;}
#damagecalc .calcButton button:hover{border:1px solid #A6A6A6;}
/* DAMAGE
**************************************************************/
#damagecalc .damage{padding:5px 0 5px 0;background-color:#F1B575;text-align:center;}
#damagecalc .damage h1{margin:5px 0 5px 0;font-size:24px;}
#damagecalc .damage_table{margin:auto;border:#000 solid 2px;}
#damagecalc .damage_table th{width:100px;padding:5px;}
#damagecalc .damage_table tr{border-bottom:#000 solid 1px;}
/* EXTRA CLASSES
**************************************************************/
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
.center{margin:auto;}
.center p,
.center a,
.center h1,
.center h2,
.center h3,
.center h4,
.center form{text-align:center;}